@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Pacifico&family=Playpen+Sans&family=Red+Hat+Display:wght@300;400;500;600;700;900&family=Roboto+Flex:opsz,wght@8..144,300&family=Roboto:ital,wght@0,300;0,700;1,100&family=Shadows+Into+Light&display=swap');
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.gallery {
    display: grid;
    border: 1px solid purple;
    grid-template-columns: repeat(4, minmax(200px, 200px));
    grid-template-rows: 1fr;
    gap: 10px;
    justify-content:center;
    margin: 25px 0;

}

.gallery-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-item_big {
    grid-area: 1 / 1/ 3 / 3 ;
}

.targeta{
    display: grid;
    border: 1px solid darkorange;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 3,1fr;
    gap: 1rem;
    margin: 00.1%;
    padding: 5rem;
    
}
.card{
    color: white;
}
.card-body{
    background-color: blueviolet;
    height: 40;
}
.card-link{
    color: black;
}




.header_edu {
    background-image: linear-gradient(to right, #ffff, lightblue);
}
